.backBtn {
	position: absolute;
	z-index: 10000;
	top: 10px; left: 10px;
	display: block;
	width: 100px; height: 46px;
	padding: 5px;
	margin: 8px auto 0;

	background: #008008;
	border-radius: 10px;

	text-align: center;
	color: #fff;
	font-size: 30px;
	line-height: 50px;

	box-shadow: 4px 7px 2px 0 rgba(0,0,0,0.2);

	transition: all 0.25s ease;
}
.backBtn:active {
	color: #efefef;
	background: #004504;
}